<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.1/lux/bootstrap.min.css"
      integrity="sha512-v51SrQ+z+dLohC1d0HyJA0nSM6XIyLoQl3IxRtM28vlbOPBRMSD3MlyUMNkLyBPlVGxt+9V+ChVG2c8LQsiu3w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Tugas Vue</title>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand bg-dark">
        <div class="container">
          <h2 class="text-white">Bootcamp SanberCode Laravel Vue</h2>
        </div>
      </nav>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <div
              class="alert alert-dismissible alert-warning"
              v-if="errors.length"
            >
              <h4 class="alert-heading">Warning!</h4>
              <ul>
                <li v-for="error in errors">{{error}}</li>
              </ul>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <form action="" v-on:submit.prevent>
                  <div class="form-group">
                    <label for="">Name :</label>
                    <input
                      type="text"
                      v-model="input.name"
                      class="form-control"
                      :disabled="buttonStatus == 'upload'"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Address :</label>
                    <input
                      type="text"
                      v-model="input.address"
                      class="form-control"
                      :disabled="buttonStatus == 'upload'"
                    />
                  </div>
                  <div class="form-group">
                    <label for="">Phone :</label>
                    <input
                      type="text"
                      v-model="input.no_hp"
                      class="form-control"
                      :disabled="buttonStatus == 'upload'"
                    />
                  </div>
                  <div class="my-3" v-if="buttonStatus == 'submit'">
                    <input
                      type="submit"
                      value="submit"
                      @click="add"
                      class="btn btn-primary"
                    />
                  </div>
                  <div class="my-3" v-else-if="buttonStatus == 'update'">
                    <input
                      type="button"
                      value="update"
                      @click="updateMember(idEdit)"
                      class="btn btn-warning mt-1"
                    />
                    <input
                      type="button"
                      value="cancel"
                      @click="cancel"
                      class="btn btn-danger mt-1"
                    />
                  </div>
                  <div class="my-3" v-else-if="buttonStatus == 'upload'">
                    <input
                      type="file"
                      name="photo"
                      ref="photo"
                      class="form-control mt-1"
                    />
                    <input
                      type="button"
                      value="upload"
                      @click="submitPhoto(idUploadPhoto)"
                      class="btn btn-info mt-1"
                    />
                    <input
                      type="button"
                      value="cancel"
                      @click="cancel"
                      class="btn btn-danger mt-1"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-hover">
          <thead class="bg-dark text-white">
            <tr>
              <th>photo profile</th>
              <th>Name</th>
              <th>address</th>
              <th>phone</th>
              <th>action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="member in members">
              <td>
                <img
                  :src="member.foto_profile ? photo+member.foto_profile : 'https://www.pngfind.com/pngs/m/110-1102775_download-empty-profile-hd-png-download.png'"
                  width="100"
                  class="rounded-circle img-thumbnail"
                />
              </td>
              <td>{{member.name}}</td>
              <td>{{member.address}}</td>
              <td>{{member.no_hp}}</td>

              <td>
                <button
                  @click="edit(member)"
                  class="btn btn-warning btn-sm mt-1"
                >
                  edit
                </button>
                <button
                  @click="remove(member.id)"
                  class="btn btn-danger btn-sm mt-1"
                >
                  delete
                </button>
                <button
                  @click="uploadPhoto(member)"
                  class="btn btn-info btn-sm mt-1"
                >
                  upload photo
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const vm = new Vue({
        el: '#app',
        data() {
          return {
            members: [],
            errors: [],
            input: {
              name: '',
              address: '',
              no_hp: '',
            },
            photo: 'http://demo-api-vue.sanbercloud.com/api/member',
            buttonStatus: 'submit',
            idEdit: null,
            idUploadPhoto: null,
          }
        },
        methods: {
          validation: function () {
            this.errors = []

            if (this.input.name.length < 5) {
              this.errors.push('Nama tidak boleh kurang dari 5 karakter')
              this.$refs.input.name.focus()
            }

            if (this.input.address.length < 5) {
              this.errors.push('Alamat tidak boleh kurang dari 5 karakter')
              this.$refs.input.address.focus()
            }

            if (this.input.address.length === 0) {
              this.errors.push('no telephone tidak boleh kosong')
              this.$refs.input.no_hp.focus()
            }
          },

          clearForm: function () {
            this.input.name = ''
            this.input.address = ''
            this.input.no_hp = ''
            this.idUploadPhoto = null
          },
          setmember: function (data) {
            this.members = data.members
          },
          getMember: function () {
            axios
              .get('http://demo-api-vue.sanbercloud.com/api/member')
              .then((res) => {
                console.log(res.data.members)
                this.setmember(res.data)
              })
              .catch((err) => console.log(err))
          },
          add: function () {
            this.validation()
            let formData = new FormData()
            formData.append('name', this.input.name)
            formData.append('address', this.input.address)
            formData.append('no_hp', this.input.no_hp)

            let config = {
              method: 'post',
              url: `http://demo-api-vue.sanbercloud.com/api/member`,
              data: formData,
            }

            axios(config)
              .then((res) => {
                alert('Terima kasih telah mengisi data dengan benar')
                this.clearForm()
                this.getMember()
              })
              .catch((err) => console.log(err))
          },
          remove: function (id) {
            axios
              .delete(`http://demo-api-vue.sanbercloud.com/api/member/${id}`)
              .then(() => {
                alert(`Data dengan nomer id ${id} telah dihapus`)
                this.getMember()
              })
              .catch((err) => console.log(err))
          },
          edit: function (member) {
            this.input.name = member.name
            this.input.address = member.address
            this.input.no_hp = member.no_hp
            this.idEdit = member.id
            this.buttonStatus = 'update'
            console.log(this.idEdit)
          },
          cancel: function () {
            this.input.name = ''
            this.input.address = ''
            this.input.no_hp = ''
            this.buttonStatus = 'submit'
            this.idEdit = null
            console.log(this.idEdit)
          },
          updateMember: function (id) {
            let formData = new FormData()
            formData.append('name', this.input.name)
            formData.append('address', this.input.address)
            formData.append('no_hp', this.input.no_hp)

            let config = {
              method: 'post',
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params: { _method: 'PUT' },
              data: formData,
            }

            axios(config)
              .then((res) => {
                this.clearForm()
                this.getMember()
                this.buttonStatus = 'submit'
              })
              .catch((err) => console.log(err))
          },
          uploadPhoto: function (member) {
            this.input.name = member.name
            this.input.address = member.address
            this.input.no_hp = member.no_hp
            this.buttonStatus = 'upload'
            this.idUploadPhoto = member.id
          },
          submitPhoto: function (id) {
            let file = this.$refs.photo.files[0]

            let formData = new FormData()
            formData.append('photo', file)

            let config = {
              method: 'post',
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
              data: formData,
            }

            axios(config)
              .then((res) => {
                this.clearForm()
                this.getMember()
                alert(res.data.message)
              })
              .catch((err) => console.log(err))
          },
        },
        created() {
          this.getMember()
        },
      })
    </script>
  </body>
</html>
