<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.1/lux/bootstrap.min.css"
      integrity="sha512-v51SrQ+z+dLohC1d0HyJA0nSM6XIyLoQl3IxRtM28vlbOPBRMSD3MlyUMNkLyBPlVGxt+9V+ChVG2c8LQsiu3w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Quiz 2</title>
  </head>
  <body>
    <div id="app">
      <div class="container mt-5">
        <div v-if="!update" class="form-inline">
          <input type="text" v-model="nama" class="form-control mr-sm-2" />
          <input
            type="submit"
            class="btn btn-primary btn"
            value="Add"
            @click="tambah"
          />
        </div>
        <div v-else class="form-inline">
          <input type="text" v-model="nama" class="form-control mr-sm-2" />
          <input
            type="submit"
            class="btn btn-primary btn"
            value="Update"
            @click="editNama"
          />
        </div>
        <ul class="list-group mt-3">
          <li
            v-for="(nama, index) in dataNama"
            class="list-group-item mt-3 d-flex justify-content-between align-items-center"
          >
            {{nama}}
            <div class="">
              <button @click="edit(index, nama)" class="btn btn-warning btn-sm">
                edit
              </button>
              <button @click="hapus(index)" class="btn btn-danger btn-sm">
                delete
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',

        data: {
          update: false,
          nama: '',
          dataNama: [],
        },
        methods: {
          tambah() {
            this.dataNama.push(this.nama)
            this.nama = ''
          },

          hapus(index) {
            this.dataNama.splice(index, 1)
          },

          editNama() {
            this.dataNama.splice(this.indexData, 1, this.nama)
            this.nama = ''
            this.update = false
          },

          edit(index, nama) {
            this.update = true
            this.nama = nama
            this.indexData = index
          },
        },
      })
    </script>
  </body>
</html>
